#xword {
	border: 1px solid black;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

#interface {
	border: 1px solid black;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

.clues {
	margin: 1em;
}

select {
	margin-top: .5em;
	width: 100%
}

.clueHeader {
	font-family: sans-serif;
	pointer-events: none;
}

.unselectable {	
   	-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;

   	/*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   	-ms-user-select: none;
   	user-select: none;
}