#xword {
	border: 1px solid black;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

#interface {
	border: 1px solid black;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

.clues {
	margin: 1em;
}

select {
	margin-top: .5em;
	width: 100%
}